POSTGRES_USER='some_username'
POSTGRES_PASSWORD='some_password'
POSTGRES_DB='some_db_name'
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"
